[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
sqlalchemy = "*"
pandas = "*"
geopandas = "*"
fiona = "*"
numpy = "*"
pytz = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
shapely = "*"
apache-airflow = "*"
pyodbc = "*"
rtree = "*"

[requires]
python_version = "3.7"
