fiona
geopandas
numpy
pandas
psycopg2-binary
pyproj
pytz
redis>3.2.0
requests
requests_oauthlib
shapely
six
-e /plugins
-e git+https://github.com/CityofSantaMonica/mds-provider@master#egg=mds_provider
